@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

body{
  background-image: url('./assets/img1.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.inputField {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.togglePassword {
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translate(-50%,-100%);
  background: none;
  border: none;
  cursor: pointer;
}

.text-shadow{
  text-shadow: 2px 2px 4px rgba(16, 28, 139, 0.5);
  font-family: 'Times New Roman';
}

.headline{
  font-size: 3rem;
}
/* navbar starts*/
ul {
  list-style: none;
}

.nav-main {
  width: 100%;
  height: 6rem;
  background-color:rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 6rem 2fr 2fr 6rem;
  box-shadow: rgba(34, 34, 230, 0.25) 0px 50px 100px -20px,
  rgba(56, 36, 230, 0.3) 0px 30px 60px -30px;
}

.logo{
  grid-column: 2/3;
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo h2{
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  background: -webkit-linear-gradient(rgb(39, 29, 177), rgb(47, 44, 209)  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo h2 span {
  font-size: 1.75rem;
}

.nav-content{
  grid-column: 3/4;
}

.nav-content ul{
  height: 6rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr repeat(5,1fr);
  font-weight:700;
}

.nav-content ul li{
  text-align: right;
  transition: transform 0.5s;
}

.nav-content ul li:hover{
  transform: scale(1.05);
  text-decoration: underline;
  text-decoration-color: #113baf62;
  text-decoration-thickness: 3px;
}

.nav-content ul li:first-child{
  grid-column: 3/4;
}

.nav-content ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #1a49ca;
}

/* navbar ends*/

/* services start */
.image-container {
  width: 380px; 
  height: 350px;
  overflow: hidden;
}

.img3 {
  transition: transform 0.5s;
}

.img3:hover {
  transform: translate(18px);
}

.img {
  transition: transform 0.5s;
}

.img:hover {
  transform: scale(1.075);
}

.headfont{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* services ends */


/* WhyChoosUs starts */

.WhyChoosUs{
  /* height: 300px; */
  background-color: #7cb9e859;
  /* border: 2px solid rgba(28, 57, 151, 0.123); */
  border-radius: 20px;
}

.WhyChoosUs-head{
  color:rgb(0, 0, 0);
  text-shadow: 2px 2px 2px rgb(207, 169, 169);
  font-weight:bolder;
  font-size: 2rem;
}

.WhyChoosUs img{
  transition: transform 0.5s;
}

.WhyChoosUs img:hover{
  transform: translate(15px);
}
/* WhyChoosUs ends */